MANUSCRIPT/aux/
MANUSCRIPT/*.toc
MANUSCRIPT/*.aux
MANUSCRIPT/*.out
MANUSCRIPT/*.log
MANUSCRIPT/*.fls
MANUSCRIPT/*.synctex.gz
MANUSCRIPT/*.fdb_latexmk
MANUSCRIPT/*.pyg
MANUSCRIPT/*.pytxcode
MANUSCRIPT/*.bbl
MANUSCRIPT/*.blg
PRESENTATION/aux/
PRESENTATION/*.toc
PRESENTATION/*.aux
PRESENTATION/*.out
PRESENTATION/*.log
PRESENTATION/*.fls
PRESENTATION/*.synctex.gz
PRESENTATION/*.fdb_latexmk
PRESENTATION/*.pyg
PRESENTATION/*.pytxcode
PRESENTATION/*.bbl
PRESENTATION/*.blg
PRESENTATION/*.nav
PRESENTATION/*.snm
PRESENTATION/*.vrb
PRESENTATION/notes/
